
body {
    background-color: #f4f5f6;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: grid;
    row-gap: 10px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

img {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid green;
}

img {
    margin: auto;
    transition: filter 0.5s;
    align-items: center;
    display: grid;
}



footer {
    display: grid;
    justify-content: center;
    line-height: 2.75em;
    font-size: smaller;
    font-family: 'Lora', serif;
  }

#lastModified {
    text-align: center;
	font-size: smaller;
    display: grid;
}