body {
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 0;
    background-color: #474749bb;
    color: #ffffffe3;
}

header, main, section, footer {
    max-width: 64rem;
    margin: 0 auto;
    overflow: hidden;
}

header,section,footer {
    background-color: #474749bb;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    margin-bottom: 1.5rem;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

/* MAIN */
h3 {
    margin: 0;
    font-size: 1.5rem;
}

section {
    margin-bottom: 1.5rem;
}

.box1, .box2, .box3 {
    margin: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 5px 5px 10px #30303049;
    border: 1px black;
}

.heading-wrapper {
    background-color: #474749bb;
}

.heading-wrapper, .text-wrapper {
    padding: 3%;
}

img {
    display: block;
    max-width: 50rem;
    margin: auto;
    border-radius: 10px;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

a {
    color: #649AF2;
}

a:hover {
    color: #fff;
    font-weight: 700;
}

/* FOOTER */
footer p {
    text-align: center;
}