

body {
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer { 
    max-width: 760px;
    margin: 1.5rem auto;
    text-align: left;
    padding: 30px;
}

header {
    border-radius: 6px;
    border: 1px solid #bbb;
    padding: 10px;
    background-color: #52BE80;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    box-shadow: 2px 2px 2px 2px;
    justify-content: center;
}

picture{
    padding: 10px;
    border-radius: 6px;
}

h1 {
    text-shadow: 0 0 15px #292929;
    color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-shadow: 0 0 15px #3c3c3cef;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #acacac;
}

ul {
    font-family: 'Lora', serif;

}

header img {
    border-radius: 6px;
    width: 100%;
    height: auto;
    justify-content: center;
}


footer {
    font-size: smaller;
    border-radius: 6px;
    background-color: #52BE80;
    display: grid;
    justify-content: center;
    line-height: 2.75em;
    box-shadow: 2px 2px 2px 2px;
    font-family: 'Lora', serif;
  }

#lastModified {
    text-align: center;
	font-size: smaller;
    display: grid;
    color: rgb(249, 249, 0);
}

