@media only screen and (min-width: 64rem) {

    * {
        margin: 0;
        padding: 0;
        }

    nav button {
        display: none;
        padding: .5rem 1rem;
      }


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#hero {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
#news {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
#spotlights {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    display:block;
}
#spotlight3 {
    display:block;
}
#join {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#event {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#weather {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
}

/*----------- FOOTER --------------*/

