html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {
    margin: 0;
    padding: 0;
    }
    
  html {
    background-color:  #00000009;
  }
/*----------- BODY --------------*/

body {
    background-color: #00000009;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
}

/*----------- HEADER and ALL the 'h'--------------*/
h1, h2, h3, h4, h5 h6 {
    font-family: 'Roboto', sans-serif;
    color:black;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: #0000009a;
}

header h1 {
    text-align: left;
    font-size: 1.5em;
    text-shadow: 0 0 15px #95070747;
    color: antiquewhite;
}

#logo img {
    margin: 5px 20px 5px 5px;
    height: 60px;
}

#topNav {
    display: grid;
    grid-template-columns: 110px auto 80px 70px;
}

#socialNetwork {
    align-self: center;
}

#socialNetwork img {
    padding: 5px;
    height: 25px;
    transition: .5s;
}
#socialNetwork img:hover {
    height: 29px;
}
header button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
}

/*----------- NAVIGATION --------------*/

nav {
    background-color: #00000062;
    align-items: center;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
  }

  nav ul li a {
    display: block;
    min-width: 70px;
    padding: .8rem 2vw;
    text-decoration: none;
    color:  #ffffff;
    font-size: 1rem;
    border-top: 1px solid rgb(0, 0, 0,0.3);
  }

  nav a {
    padding: 1em;
    min-width: 70px;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #ffffff;
    background-color: #32528875;
    border-radius: 3px;
  }

  nav ul {
    display: none;
  }

  nav ul.open {
    display: block;
  }

  #hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
/*----------- MAIN --------------*/
main div {
    border: 1px solid #b8b8b8e2;
    min-height: 100px;
    margin: 5px;
    color: #272727e2;
}

p {
    font-family: 'Lora', serif;
}

#join {
    display: none;
}
#spotlight3 {
    display:none;
}

/*----------- FOOTER --------------*/


#foot img:hover {
    height: 29px;
}
#foot img {
    padding: 5px;
    height: 60px;
    transition: .5s;
}
#foot #logoFooter {
    height: 100px;
}
#foot h2 {
    text-shadow: 0 0 15px #180795dc;
    font-size: 18px;
}
#foot a {
    color: #222222;
}
#foot #contact {
    margin-top: 20px;
    display: block;
    align-self: center;
}

#foot #contact a {
    text-decoration: none;
    color: blue;
    text-shadow: 0 0 15px #180795dc;
}
footer {
    grid-template-columns: 1fr max-content repeat(3, max-content);
    font-size: 12px;
    margin-top: 20px;
}

#lastModified {
    margin: auto;
      text-align: center;
      display: grid;
      
  }
